{% load static %}
<div class="form">
    <h2 class="form__title" id="modalScheduleTourTitle">Crear Horario de Tour</h2>
    <form method="post" class="form__container" id="scheduleForm">
        {% csrf_token %}
        
        <div class="form__group">
            <label for="id_tour" class="form__label">Tour</label>
            {{ form.tour }}
        </div>

        <div class="form__group">
            <label for="id_date" class="form__label">Fecha</label>
            {{ form.date }}
        </div>

        <div class="form__group">
            <label for="id_start_time" class="form__label">Hora de inicio</label>
            {{ form.start_time }}
        </div>

        <div class="form__group">
            <label for="id_capacity" class="form__label">Capacidad</label>
            {{ form.capacity }}
        </div>

        <div class="form__group form__group--inline">
            <label for="id_opened" class="form__label">Disponible</label>
            {{ form.opened }}
        </div>

        <button type="submit" class="form__button">Guardar</button>
    </form>
</div>
