
.toursTable__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.toursTable__btn {
    background-color: whitesmoke;
    color: var(--azul-oscuro);
    border: 2px solid var(--azul-oscuro);
    border-radius: 15px;
    padding: 5px 9px;
    font-size: 0.9rem;
    cursor: pointer;
}
.toursTable__btn:hover {
    color: gray;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
    

.toursTable {
    margin: 10px;
}