{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}TourManager Cartagena - index{% endblock %}

{% block content %}

{% include 'includes/header.html' %}

<main>
    <div>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque incidunt odio vitae. Assumenda fuga dolorum
        obcaecati non odit doloremque dicta, laborum tempore nesciunt ut impedit eos incidunt omnis, tempora quod id eius
        quae expedita maxime! Voluptatem molestias repellat enim fugiat illum, sunt iure at labore dolorem blanditiis quas
        sequi, fugit ratione. Porro deserunt, cupiditate repudiandae suscipit libero assumenda sequi ut voluptates, culpa
        cum, voluptatum possimus necessitatibus iusto veniam facilis accusantium corporis fugiat! Enim doloremque delectus
        laborum repellendus quidem culpa repellat, consectetur provident eum ullam quae tenetur porro odio sed magni, vel
        nemo iusto perferendis fugit? Vel repellendus incidunt minus ex?
    </div>
</main>
{% endblock %}

