<header>
    <div class="container1">
        <h2>Panel de administracion</h2>
        <div class="login-panel">
            <p>-username-</p>
            <label class="login-panel-selector" for=""> 
                <span class="material-symbols-outlined">account_circle</span>
            </label>
        </div>
    </div>
    <div class="option-panel">
        <div class="nav-container">
            <input type="checkbox" id="lateral-input">
            <label class="lateral-input" for="lateral-input">
                <span class="material-symbols-outlined">menu</span>
            </label>
            <nav>
                <ul>
                    <li>
                        <a class="links lateral-menu-item-container" href="/">
                            <span class="material-symbols-outlined">home</span>
                            Home
                        </a>
                    </li>
                    <li>
                        <a class="links lateral-menu-item-container" href="{% url 'tours:tour_list' %}">
                            <span class="material-symbols-outlined">travel_explore</span>
                            Tours
                        </a>
                    </li>
                    <li>
                        <a class="links lateral-menu-item-container" href="{% url 'tours:agency_list' %}">
                            <span class="material-symbols-outlined">Villa</span>
                            Agencias
                        </a>
                    </li>
                    <li>
                        <a class="links lateral-menu-item-container" href="{% url 'tours:reservation_list_general' %}">
                            <span class="material-symbols-outlined">description</span>
                            Informe Reservas
                        </a>
                    </li>
                    <li>
                        <a class="links lateral-menu-item-container" href="{% url 'tours:dashboard' %}">
                            <span class="material-symbols-outlined">analytics</span>
                            Dashboard
                        </a>
                    </li>
                    <!--
                    <li>
                        <div class="lateral-menu-item-container">
                            <label class="lateral-menu-label" for="#">
                                <span class="material-symbols-outlined">group</span></label>
                            <a class="links" href="#">Empleados</a>
                        </div>
                    </li>
                    <li>
                        <div class="lateral-menu-item-container">
                            <label class="lateral-menu-label" for="#">
                                <span class="material-symbols-outlined">vpn_key</span>
                            </label>
                            <a class="links" href="#">Permisos</a>
                        </div>
                    </li>
                    <li>
                        <div class="lateral-menu-item-container">
                            <label class="lateral-menu-label" for="#">
                                <span class="material-symbols-outlined">event</span>
                            </label>
                            <a class="links" href="#">Programacion</a>
                        </div>
                    </li>
                    -->
                    <li>
                        <a class="links lateral-menu-item-container" href="{% url 'accounts:logout' %}">
                            <span class="material-symbols-outlined">logout</span>
                            logout
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <h2>Wegoit</h2>
    </div>
    
</header>
