<header>
    <div class="container1">
        <h2>Panel de administracion</h2>
        <div class="login-panel">
            <p>Jose Francisco Noguera</p>
            <label class="login-panel-selector" for=""> 
                <span class="material-symbols-outlined">account_circle</span>
            </label>
        </div>
    </div>
    <div class="option-panel">
        <div class="nav-container">
            <input type="checkbox" id="lateral-input">
            <label for="lateral-input">
                <span class="material-symbols-outlined">menu</span>
            </label>
            <nav>
                <ul>
                    <li><a class="links" href="#">Noticias</a></li>
                    <li><a class="links" href="#">Empleados</a></li>
                    <li><a class="links" href="#">Permisos</a></li>
                    <li><a class="links" href="#">Programacion</a></li>
                    <li><a class="links" href="#">Noticias</a></li>
                </ul>
            </nav>
        </div>
        <h2>Wegoit</h2>
    </div>
    
</header>
