{% extends "layouts/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Lista de Tours{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/tours.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/modalTour.css' %}">
{% endblock %}

{% block content %}
<div class="toursTable">
    <div class="toursTable__head">
        <h2 class="toursTable__title">Tours Disponibles</h2>
        <button class="toursTable__btn" id="openModalTourBtn">Nuevo Tour ➕</button>
    </div>
    
    <table id="tourTable" class="display responsive nowrap toursTable__table" style="width:100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio Base</th>
                <th>Capacidad</th>
                <th>Acciones</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for tour in tours %}
            <tr>
                <td>{{ tour.tour_name }}</td>
                <td>${{ tour.base_price|floatformat:0|intcomma }}</td>
                <td>{{ tour.default_capacity }}</td>
                <td>
                    <a href="{% url 'tours:schedule_list' tour.id %}">Ver Horarios</a>
                </td>
                <td>
                    <button class="editTourBtn btn-apertura-tour"
                            data-tour-id="{{ tour.id }}"
                            data-tour-name="{{ tour.tour_name }}"
                            data-tour-description="{{ tour.tour_description }}"
                            data-tour-base-price="{{ tour.base_price }}"
                            data-tour-default-capacity="{{ tour.default_capacity }}"
                            data-tour-is-active="{{ tour.is_active|yesno:'true,false' }}">
                        Editar
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<!-- Modal -->
<div id="modalTour" class="modalTour">
    <div class="modalTour__content">
        <span class="modalTour__close" id="closeModalTourBtn">&times;</span>
        <!-- <h2 class="modalScheduleTour__title">Título del Modal</h2> -->
       
        {% include "tours/tour_form.html"%}
    </div>
</div>




{% endblock %}

{% block extra_js %}
<script src="{% static 'assets/js/modalTour.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#tourTable').DataTable();
    });
</script>
{% endblock %}
