.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 5px 0 5px 0;
    padding-bottom: 20px;
}

.card-container__head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin: 5px 10px;
}

.card {
    background-color: #fff;
    border: 1.5px solid #ddd;
    border-radius: 24px;
    padding: 20px;
    width: 300px;
    height: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin: 0 5px;
}

.card:hover{
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.card h3 {
    margin-top: 0;
    color:var(--azul-oscuro);
    font-weight:bold;
    font-size: 1.2rem;
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    text-align: flex-start;
}
.card p {
    margin: 6px 0;
    font-size: 0.9rem;
    color:rgb(44, 44, 44);
}

.card-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    gap: 1px;
    width: 100%;
}

.btn {
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 9px;
    color: white;
    font-size: 0.8rem;
}

.btn-primary {
    background-color: var(--azul-oscuro);
}

.btn-primary:hover {
    background-color: #003366;
}

.btn-secondary {
    background-color: var(--azul-marino);
}

.btn-secondary:hover {
    background-color: #004d26;
}


/* h2 card container*/

.card-container__head h2{
    color: var(--azul-oscuro);
    font-weight: normal;
}


/* button apertura tour */

.card-container__head button{
    background-color: whitesmoke;
    color: var(--azul-oscuro);
    border: 2px solid var(--azul-oscuro);
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 0.9rem;
    cursor: pointer;
    text-align: center;
}

.card-container__head button span {
    margin: 5px;
}

.card-container__head button:hover {
    transform: scale(1.05);
    color: gray;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}