h2 {
    margin-bottom: 15px;
    color: #800000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ffe6e6;
    color: #800000;
}

td {
    font-size: 14px;
}

td:nth-child(5) { /* Agencia */
    font-style: italic;
}
