h2 {
    margin-bottom: 15px;
    color: #006633;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #d9f2e6;
    color: #006633;
}

td a {
    color: #006633;
    text-decoration: none;
    font-weight: bold;
}

td a:hover {
    text-decoration: underline;
}
